{% extends 'base.html.twig' %}

{% block title %}WeatherHistory index{% endblock %}

{% block body %}
    <h1>WeatherHistory index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Temperature</th>
                <th>Unit</th>
                <th>Created_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for weather_history in weather_histories %}
            <tr>
                <td>{{ weather_history.id }}</td>
                <td>{{ weather_history.temperature }}</td>
                <td>{{ weather_history.unit }}</td>
                <td>{{ weather_history.createdAt ? weather_history.createdAt|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_weather_history_show', {'id': weather_history.id}) }}">show</a>
                    <a href="{{ path('app_weather_history_edit', {'id': weather_history.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_WEATHER_HISTORY_NEW') %}
        <a href="{{ path('app_weather_history_new') }}">Create new</a>
    {% endif %}
{% endblock %}
